# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
db.sqlite3
*.log
*.pot
*.pyc
*.so

# Django static files
/static/
# or specific directories
**/staticfiles/

# Django media files
/media/

# Environment variables and settings
.env

# Node.js
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log

# React build files
/build/

# VS Code settings
.vscode/

# macOS
.DS_Store
